<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

{% if request.user.is_authenticated %}
    <p>Bienvenido, {{ request.user.username }}</p>
    <a href="{% url 'logout' %}">Cerrar sesion</a>
{% else %}
    <h2>Iniciar sesion</h2>

    {% if form.errors %}
        <p style="color: red;">Usuario o contrasena incorrectos.</p>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Entrar</button>
    </form>
    <p><a href="{% url 'password_reset' %}">¿Olvidaste tu contraseña?</a></p>
    <p>No tienes cuenta? <a href="{% url 'register' %}">Registrate aqui</a></p>
{% endif %}

</body>
</html>